[submodule "vendor/use-package"]
	path = vendor/use-package
	url = https://github.com/jwiegley/use-package
[submodule "vendor/evil"]
	path = vendor/evil
	url = https://github.com/Bogdanp/evil.git
[submodule "vendor/restclient"]
	path = vendor/restclient
	url = https://github.com/pashky/restclient.el.git
